body {
    font-family: "Xanh-Mono";
    background-color: #81d1f0;

}

#levelUp {
    margin-left: 5%;
    width: fit-content;
}

.dynamicData {
    border: 1px solid black;
    width: auto;
    padding: 5%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

#Bio {
    border-radius: 10px;
    background-color: antiquewhite;
    padding: 1%;
    /* display: inline-flex; */
    /* justify-content: center; */
}

#levelContainer {
    width: 10vw;
}

.infoContainer {
    border-radius: 10px;
    display: flex;
    /* background-color: #e2d9fa; */
    padding-bottom: 1%;
    /* align-items: center; */
}

#randomizeBio {
    align-self: flex-end;
}

button {
    height: fit-content;
}

.infoContainer,
.stats {
    display: flex;
    justify-content: space-between;

}

.abilityScores {
    border-bottom: 5px solid black;
    margin-bottom: 5px;
}

/* with table properties, this will likely change */
#diceContainer {
    border: 2px solid black;
}


#testContainer {
    width: fit-content;
    border: 2px solid black;
}

th,
td {
    position: relative;
    width: auto;
}

/* remore the formatting */
.table th,
.table td {
    border: 1px !important;
}

thead tr {
    display: flex;
    justify-content: space-evenly;
}

tbody tr {
    display: flex;
    justify-content: space-around;
}

tr img {
    justify-content: center;
    width: 60px
}

td button,
th p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0;
}

/* need way to shrink the text inputs for spacing */
.weaponInputs input {
    /* margin: 10px */
}