body {
    font-family: "Xanh-Mono";
    background-color: #81d1f0;

}

#Bio {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: antiquewhite;
}

.infoContainer {
    padding-bottom: 1%;
}

.infoContainer,
.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#randomizeBio {
    align-self: flex-end;
}

#levelContainer {
    width: 10vw;
}

#levelUp {
    margin-left: 5%;
    width: auto;
}

.dynamicData {
    border: 1px solid black;
    width: auto;
    height: fit-content;
    padding: 5%;
    background-color: #ffffff;
}

#saveContainer {
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1%;
}

button {
    height: fit-content;
}


.abilityTitle {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 1%;
}

#abilityContainer {
    background-color: bisque;
    border-radius: 10px;
}

.abilityScores {
    border-bottom: 3px solid black;
    margin-bottom: 5px;
}

/* with table properties, this will likely change */
#diceContainer {
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

table {
    flex-wrap: wrap;
}


#testContainer {
    width: fit-content;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#testContainer section {
    position: relative;
    width: auto;
}

#testContainer img {
    justify-content: center;
    width: 60px;
}

#testContainer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0;
}

#testContainer button {
    justify-content: center;
}

th,
td {
    position: relative;
    width: auto;
}

/* remore the formatting */
.table th,
.table td {
    border: 1px !important;
}

thead tr {
    display: flex;
    justify-content: space-evenly;
}

tbody tr {
    display: flex;
    justify-content: space-around;
}

tr img {
    justify-content: center;
    width: 60px
}

td button,
th p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0;
}

/* need way to shrink the text inputs for spacing */
.weaponInputs input {
    /* margin: 10px */
}