body {
    font-family: "Xanh-Mono";
    background-color: #81d1f0;

}

#Bio {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: antiquewhite;
}

.infoContainer {
    padding-bottom: 1%;
}

.infoContainer,
.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#randomizeBio {
    align-self: flex-end;
}

#levelContainer {
    width: 10vw;
}

#levelUp {
    margin-left: 5%;
    width: auto;
}

.dynamicData {
    border: 1px solid black;
    width: auto;
    height: fit-content;
    padding: 5%;
    background-color: #ffffff;
}

#saveContainer {
    background-color: antiquewhite;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 1%;
}

button {
    height: fit-content;
}


.abilityTitle {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-bottom: 1%;

}

.abilityTitle section {
    padding: 0%;
}

#abilityContainer {
    background-color: antiquewhite;
    border-radius: 10px;
}

.abilityScores {
    border-bottom: 3px solid black;
    margin-bottom: 5px;
}

/* with table properties, this will likely change */
#diceContainer {
    width: fit-content;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#diceContainer img {
    justify-content: center;
    width: 60px;
}

#diceContainer section {
    position: relative;
    width: auto;
}

#diceContainer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0;
}

#diceContainer button {
    justify-content: center;
    width: 60px;
    font-size: small;
}

#invBtns,
#featBtn,
#weapBtns {
    justify-content: space-evenly;
}

/* need way to shrink the text inputs for spacing */
.weaponInputs {
    justify-content: space-evenly;
}

#weaponLabels,
#weapons {
    background-color: antiquewhite;
}

#weaponLabels {
    border-radius: 10px;
    margin-bottom: 1%;
}

#weapons {
    border-radius: 10px;
    padding-top: 5%;
    margin-bottom: 2%;
}

#Inventory,
#Feats,
#dice {
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 2%;
}